<% include partials/header %>
<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Recipe Lover</h1>
            <p>
                RecipeLover is an interactive recipe app, where users can upload their own recipes and get inspiration from others'.<br>
                The app is originally inspired by the Web Developer Bootcamp course from Udemy.<br>
                Technologies include: Node.js, Express.js, Passport.js, jQuery and MongoDB.<br>
            </p>
        </div>
    </div>

    <!-- About Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">About Me</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" height='200' width='250' src="https://www.atmos.colostate.edu/wp-content/uploads/2017/07/7.10.17_Yixing_Shao_scholarship.jpg" alt="">
            <h3>Yixing Shao<br>
                <small>C.S. graduate student at Northeastern University, Currently looking for software developer internship.</small>
            </h3>
            <p>
                <li>Coder</li>
                <li>Foodie</li>
                <li>Cat Lover</li>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contact Me</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <a href="https://www.linkedin.com/in/yixing-shao-9110235a">LinkedIn</a><br>
            <a href="https://github.com/PippiShao">GitHub</a>
        </div>
    </div>
    <hr>
</div>
<% include partials/footer %>
